.vscode
.session
# ignore __pycache__ folder in all folders
__pycache__
# ignore input.txt file in all folders
input.txt
go.work
# Swift stuff
.build/
# Kotlin stuff
.gradle
.idea
build
src/**/*.txt
local.properties
# Rust stuff
Cargo.lock
target/
debug/
target/
**/*.rs.bk
*.pdb